In [1]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [4]:
import scipy as sp
import pandas as pd
%matplotlib inline

In [5]:
df0 = pd.read_csv('weather.csv',na_values=(-9999),parse_dates=['DATE'])

In [6]:
df = df0[df0['DATE']>='19940101']

In [7]:
df.head()

               STATION       DATE  PRCP   TMAX  TMIN
365  GHCND:FR013055001 1994-01-01   0.0  104.0  72.0
366  GHCND:FR013055001 1994-01-02   4.0  128.0  49.0
367  GHCND:FR013055001 1994-01-03   0.0  160.0  87.0
368  GHCND:FR013055001 1994-01-04   0.0  118.0  83.0
369  GHCND:FR013055001 1994-01-05  34.0  133.0  55.0

In [8]:
df_avg = df.dropna().groupby('DATE').mean()

In [9]:
df_avg.head()

                  PRCP        TMAX       TMIN
DATE
1994-01-01  178.666667  127.388889  70.333333
1994-01-02  122.000000  152.421053  81.736842
1994-01-03  277.333333  157.666667  95.555556
1994-01-04  177.105263  142.210526  95.684211
1994-01-05  117.944444  130.222222  75.444444

In [10]:
date = df_avg.index.to_datetime()
temp = (df_avg['TMAX']+df_avg['TMIN'])/20.
N = len(temp)